/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --color-foreground-primary: black;
  --color-background-primary: rgb(203 213 225);
  --color-background-secondary: rgb(228 228 231);
  
  /* background-color: #242424; */
  /* background-color: black; */
  
}

.dark{
  --color-foreground-primary: white;
  --color-background-primary: rgb(30 41 59);
  --color-background-secondary: rgb(51 65 80);
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*:focus {
  outline: none;
  box-shadow: none;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


